.main {
	display: flex;
	flex-direction: column;
    margin: 3em auto;
}

.main > h1 {
    font-size: 4rem;
    margin-bottom: .2em;
    line-height: .85em;
}

.main > h3 {
    margin-bottom: 2em  ;
}

.main > p {
    line-height: 2em;
}

.main > :nth-child(4) {
    display: flex;
    margin-top: 3em;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (min-width: 675px) {
    /* || LAYOUT */

    .main {
        margin: 0;
        cursor: url('../../../public/forecur.png'), auto;
        min-height: 100vh;
        padding: 4em 0;
        display: grid;
        grid-template: 2fr 1fr / 1fr 1fr;
        grid-template-areas: 
            "ch1 ch2"
            "ch3 ch4";
    }

    .main > :nth-child(1){
        grid-area: ch2;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        font-size: clamp(1em, 10vw, 7em);
    }

    .main > :nth-child(2){
        grid-area: ch1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        font-size: clamp(1em, 10vw, 2em);
        padding-right: 3em;
    }

    .main > :nth-child(3){
        grid-area: ch3;
        padding-right: 3em;
    }

    .main > :nth-child(4){
        grid-area: ch4;
        margin-top: 0;
    }

    .main > h3 {
        margin-bottom: 0  ;
    }

    .main > h1 {
        margin-bottom: 0;
    }

}

