:root {
  /* COLOR */
  --BGCOLOR: #FBFBFD;
  --DEFAULT-FONT-COLOR: #232323;
  --BORDER-COLOR: red;
  
  /* BORDER */
  --BORDER-DUMMY: 2px dotted var(--BORDER-COLOR);
  --BORDER-DOTTED-BLUE: 2px dotted blue;
  --BORDER-DOTTED-PURPLE: 2px dotted purple;
  --BORDER-DOTTED-GREEN: 2px dotted green;

  /* DISPLAY */
  --NOWRAP: nowrap;
}

@media (prefers-color-scheme: darks) {
  :root {
    /* COLOR */
    --BGCOLOR: black;
    --DEFAULT-FONT-COLOR: white;
  }
}


/* || RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



html {
  scroll-behavior: smooth;
}

body {
  /* max-width: 100vw; */
  color: var(--DEFAULT-FONT-COLOR);
  background: var(--BGCOLOR);
  overflow-x: hidden;
  min-height: 100vh;
}

input,
button,
textarea {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.nowrap {
  white-space: var(--NOWRAP);
}

.container {
  width: min(1300px, 90%);
  border: var(--BORDER-DOTTED-BLUE);
  margin: 0 auto;
  min-height: 100vh;
}

